@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

// Set up variables
$colors: (
  primary: #176587,
  secondary: #22B573,
  dark-primary: #185570,
  dark-secondary: darken(#22B573, 5%),

  text-color: #333333,
  light-text-color: #777777,

  background-color: #F8F8F8,
  grey-color: #F1F1F1,
  white-color: #FFFF,
);

$padding: 20px;
$borders: 1px;
$vertical-spacing: 40px;

$desktop: 920px;


 // Create function to use color scheme
@function color($color-name) {
  @return map-get($colors, $color-name)
}

@mixin desktop {
  @media(min-width: #{$desktop}) {
    @content
  }
}

body, html {
  height: 100%;
  background-color: color(background-color);
}

body {
  font-family: 'Raleway';
  margin: 0;
}

h1 {
  color: color(secondary);
  font-weight: bold;
  font-family: "Montserrat";
}

// Hide element on big screens
.visible-xs {
  @include desktop{
    display: none;
  }
}

.hidden-xs {
  display: none;
  @include desktop {
    display: block;
  }
}

.sr-only {
  position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

nav {
  padding: 1vw 0vw 0vw 3vw;
  background-color: color(primary);
  @include desktop{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
  }


  .logo {
    height: 90px;
  }

  #collapseBtn {
    position: relative;
    background-color: color(secondary);
    border: 0;
    padding: 8px;
    border-radius: 4px;
    float: right;
    margin: 2rem 1.5rem;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      margin: 4px;
      border-radius: 1px;
      background-color: white;
    }

    &:active, &:hover, &:focus {
      background-color: color(dark-secondary);
      outline: 0;
    }
  }



  #collapse {
    display: block;
    transition: height .35s ease
  }

  .navigation {
    display: none;
    padding: 3vw 3.5vw 5vw 20vw;
    list-style-type: none;
    margin: 0;
    overflow: hidden;

    @include desktop {
      display: block;
      padding: 2.5vw 3.5vw;
    }

    li a {
      display: block;
      color: white;
      padding: .4rem;
      // margin: 0rem 5.5rem 0rem 0rem;
      text-decoration: none;
      font-size: large;

      @include desktop {
        float: right;
        text-align: center;
        margin: 0rem .5rem 0rem 0rem;
        padding: .4rem;
      }
    }

    li a:hover {
      background-color: color(secondary);
      border-radius: 10px;
      transition: background-color 0.5s ease-out;
    }
  }
  
}