@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway");
body, html {
  background-color: #F8F8F8;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 920px) {
  body, html {
    height: 100%;
  }
}

body {
  font-family: 'Raleway',Helvetica,Arial,sans-serif;
  margin: 0;
}

body p {
  text-align: center;
  margin: .1rem 0rem .1rem;
}

@media (min-width: 920px) {
  body p {
    letter-spacing: .5px;
  }
}

h1, h2 {
  text-align: center;
  color: #22B573;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

@media (min-width: 920px) {
  .visible-xs {
    display: none;
  }
}

.hidden-xs {
  display: none;
}

@media (min-width: 920px) {
  .hidden-xs {
    display: block;
  }
}

@media (min-width: 920px) {
  .side-margin {
    margin: 0rem 10rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.add-shadow {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.white-text {
  color: white;
}

.align-left {
  text-align: center;
}

@media (min-width: 920px) {
  .align-left {
    text-align: left;
  }
}

.github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%, 60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%, 80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

nav {
  padding: 1vw 0vw 0vw 3vw;
  background-color: #176587;
}

@media (min-width: 920px) {
  nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 4fr;
        grid-template-columns: 1.5fr 4fr;
  }
}

nav .logo {
  height: 80px;
}

nav #collapseBtn {
  position: relative;
  background-color: #22B573;
  border: 0;
  padding: 8px;
  border-radius: 4px;
  float: right;
  margin: 2rem 1.5rem;
}

nav #collapseBtn .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px;
  border-radius: 1px;
  background-color: white;
}

nav #collapseBtn:active, nav #collapseBtn:hover, nav #collapseBtn:focus {
  background-color: #1ea065;
  outline: 0;
}

nav .navigation {
  display: none;
  padding: 3vw 3.5vw 5vw 20vw;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

@media (min-width: 920px) {
  nav .navigation {
    display: block;
    padding: 2.5vw 3.5vw;
  }
}

nav .navigation li a {
  display: block;
  color: white;
  padding: .4rem;
  text-decoration: none;
  font-size: large;
}

@media (min-width: 920px) {
  nav .navigation li a {
    float: right;
    margin: 0rem .5rem 0rem 0rem;
    padding: .4rem;
  }
}

nav .navigation li a:hover {
  background-color: #22B573;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.header {
  position: relative;
  top: -2px;
  background-color: #176587;
  color: white;
  background-image: url(../images/banner-eye-dark-trans-offset.png);
  background-size: cover;
  padding: 3rem 1rem 1rem;
}

@media (min-width: 920px) {
  .header {
    top: 0px;
    height: 40%;
    padding: 3rem 4rem 12rem;
  }
}

.header .header-container {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 920px) {
  .header .header-container {
        grid-template-areas: "description chat-demo";
    -ms-grid-columns: 3fr 3fr;
        grid-template-columns: 3fr 3fr;
  }
}

.header .header-container .description {
  grid-area: "description";
  margin-right: 1rem;
}

.header .header-container .description h1 {
  margin-bottom: 1em;
}

@media (min-width: 920px) {
  .header .header-container .description h1 {
    text-align: left;
    font-size: 2.4rem;
  }
}

@media (min-width: 920px) {
  .header .header-container .description p {
    text-align: left;
  }
}

.header .header-container .description code ::before {
  color: #22B573;
  content: "$ ";
}

.header .header-container .description code {
  margin: 2rem 3rem 0rem 3rem;
  width: 65%;
  background-color: #185570;
  border-color: #22B573;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 20px;
}

@media (min-width: 920px) {
  .header .header-container .description code {
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.4rem;
  }
}

.header .header-container .description .github-buttons {
  margin: 2rem 0rem 3rem 0rem;
}

@media (min-width: 920px) {
  .header .header-container .description .github-buttons {
    text-align: left;
  }
}

.header .header-container .chat-demo {
  grid-area: "chat-demo";
  background-color: white;
  color: black;
  height: 313px;
  padding: 0px;
  border: 2px #b5b5b5 solid;
  margin-top: 2rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow-y: hidden;
}

@media (min-width: 920px) {
  .header .header-container .chat-demo {
    width: 90%;
  }
}

.header .header-container .chat-demo .window-ui {
  height: 24px;
  width: 100%;
  background-color: #b5b5b5;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.header .header-container .chat-demo .window-ui .button {
  float: left;
  height: 10px;
  width: 10px;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 8px;
}

.header .header-container .chat-demo .window-ui .quit {
  background-color: #fa5f5c;
  border: 1px solid #ed4a47;
}

.header .header-container .chat-demo .window-ui .minimize {
  background-color: #fcbb42;
  border: 1px solid #f0aa32;
}

.header .header-container .chat-demo .window-ui .maximize {
  background-color: #36c94a;
  border: 1px solid #28bd39;
}

.header .header-container .chat-demo .message {
  padding: 12px;
  border-bottom: 1px #EEE solid;
}

.header .header-container .chat-demo .message img.profile {
  width: 30px;
  float: left;
  margin-right: 10px;
  border-radius: 3px;
}

.header .header-container .chat-demo .message h4 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.header .header-container .chat-demo .message h4 small {
  color: #777;
  font-size: 10px;
}

.header .header-container .chat-demo .message p {
  text-align: left;
  font-size: 14px;
}

.header .header-container .chat-demo .message:last-of-type {
  border: none;
}

.header .header-container .chat-demo .message::before {
  width: 50px;
  height: 50px;
  background-image: url("../images/logo-dark.png");
}

.header .header-container .chat-demo .typing {
  font-size: 12px;
  color: #777;
  margin: 10px;
}

.header-bottom {
  top: -4px;
  position: relative;
  background-color: #176587;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
  padding: 1rem 1rem 8rem;
}

@media (min-width: 920px) {
  .header-bottom {
    padding: 1rem 1rem 5rem;
  }
}

.middle-layer {
  padding: 1rem 1rem 3rem 1rem;
}

@media (min-width: 920px) {
  .middle-layer {
    padding: 0;
  }
}

.middle-layer .panel {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  top: -8rem;
  margin-bottom: -4rem;
  margin-top: 1rem;
  padding: 1rem 2rem 2rem 2rem;
}

@media (min-width: 920px) {
  .middle-layer .panel {
    margin: 0rem 15rem 0rem 10rem;
    padding: 1rem 2rem 2rem 2rem;
  }
}

.middle-layer .panel p {
  color: #777777;
}

.middle-layer .panel h2 {
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  color: #333333;
}

.middle-layer .modules-intro {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.3rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

@media (min-width: 920px) {
  .middle-layer .modules-intro {
    margin: -2.5rem 0rem;
  }
}

.middle-layer .modules-area {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "connectors" "databases" "parsers" "skills";
  grid-gap: 20px;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
}

@media (min-width: 920px) {
  .middle-layer .modules-area {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "connectors databases parsers" "skills skills skills";
    padding: 3rem 4rem 12rem;
  }
}

.middle-layer .modules-area .connectors {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: connectors;
}

.middle-layer .modules-area .databases {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: databases;
}

.middle-layer .modules-area .parsers {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: parsers;
}

.middle-layer .modules-area .skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: skills;
}

.middle-layer .modules-area .modules {
  background-color: white;
  -webkit-box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  border: 1px solid #22B573;
  padding: 2rem;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.middle-layer .modules-area .modules:hover {
  -webkit-box-shadow: 10px 10px 1px rgba(34, 181, 115, 0.7);
          box-shadow: 10px 10px 1px rgba(34, 181, 115, 0.7);
  -webkit-transition: -webkit-box-shadow .5s ease-out;
  transition: -webkit-box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out;
  transition: box-shadow .5s ease-out, -webkit-box-shadow .5s ease-out;
}

.middle-layer .modules-area .modules a, .middle-layer .modules-area .modules :active, .middle-layer .modules-area .modules a:visited {
  font-size: medium;
  float: left;
  color: #22B573;
  border: 1px solid #22B573;
  border-radius: 6px;
  text-decoration: none;
  text-transform: capitalize;
  margin: 8px 5px 0px 0px;
  padding: 4px;
  -webkit-transition: .7s ease-out;
  transition: .7s ease-out;
}

.middle-layer .modules-area .modules a:hover {
  background-color: #22B573;
  color: white;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.middle-layer .modules-area .modules p {
  padding: 1rem 0rem 0rem;
  color: #777777;
}

.grey-background {
  -webkit-clip-path: polygon(0 11%, 100% 6%, 100% 84%, 0 94%);
          clip-path: polygon(0 11%, 100% 6%, 100% 84%, 0 94%);
  background-color: #F1F1F1;
  width: 100%;
  height: 178%;
  position: absolute;
  top: 89rem;
}

@media (min-width: 920px) {
  .grey-background {
    -webkit-clip-path: polygon(0 14%, 100% 0%, 100% 84%, 0 100%);
            clip-path: polygon(0 14%, 100% 0%, 100% 84%, 0 100%);
    height: 80%;
    top: 66rem;
  }
}

footer {
  position: relative;
}

footer a, footer a:visited, footer a:active {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

footer a:hover {
  color: #b2f1d5;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

footer .top-footer {
  background-color: #176587;
  -webkit-clip-path: polygon(0 18%, 100% 5%, 100% 100%, 0 100%);
          clip-path: polygon(0 18%, 100% 5%, 100% 100%, 0 100%);
  padding: 9rem 0rem 6rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "blog" "app" "follow";
}

@media (min-width: 920px) {
  footer .top-footer {
        grid-template-areas: "blog . app"  "blog . follow";
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding-left: 4rem;
  }
}

footer .top-footer .blog-posts {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: blog;
  padding: 3rem 1rem;
}

@media (min-width: 920px) {
  footer .top-footer .blog-posts {
    padding: 0rem 9rem 0rem 0rem;
  }
}

footer .top-footer .blog-posts h1, footer .top-footer .blog-posts p, footer .top-footer .blog-posts .blog-post {
  text-align: center;
}

@media (min-width: 920px) {
  footer .top-footer .blog-posts h1, footer .top-footer .blog-posts p, footer .top-footer .blog-posts .blog-post {
    text-align: left;
  }
}

footer .top-footer .blog-posts h1 {
  padding: 1rem 0rem;
}

footer .top-footer .blog-posts .date {
  color: #26ca81;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  padding-top: .5rem;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

footer .top-footer .blog-posts .blog-post:hover .date {
  color: #5de0a5;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

footer .top-footer .download {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: app;
  margin-bottom: 2rem;
  padding: 1rem;
}

@media (min-width: 920px) {
  footer .top-footer .download {
    padding: 0rem;
  }
}

footer .top-footer .download p {
  padding: .7rem .3rem;
}

footer .top-footer .download a, footer .top-footer .download:visited, footer .top-footer .download:active {
  background-color: #22B573;
  border-radius: 4px;
  padding: .6rem 1rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer .top-footer .download a:hover {
  color: white;
  text-shadow: none;
  background-color: #32d88e;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer .top-footer .follow {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: follow;
  padding: 1rem;
}

@media (min-width: 920px) {
  footer .top-footer .follow {
    padding: 0rem;
  }
}

footer .top-footer .follow p {
  padding: .0rem .3rem .8rem;
}

footer .top-footer .follow .social-icons .fab, footer .top-footer .follow .social-icons .fas {
  color: white;
  background-color: #22B573;
  padding: .5rem;
  border-radius: 4px;
  margin-right: .1rem;
}

footer .top-footer .follow .social-icons .fas {
  padding: .5rem 1rem;
}

footer .top-footer .follow .social-icons .fab:hover, footer .top-footer .follow .social-icons .fas:hover {
  background-color: #32d88e;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

footer .bottom-footer {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  margin-top: -2px;
  color: white;
  background-color: #185570;
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
      grid-template-areas: "navigation" "license";
}

@media (min-width: 920px) {
  footer .bottom-footer {
        grid-template-areas: "navigation license" "navigation license";
    padding: 2rem 1rem 2rem 4rem;
  }
}

footer .bottom-footer .navigation-footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navigation;
  padding-bottom: 2rem;
}

@media (min-width: 920px) {
  footer .bottom-footer .navigation-footer {
    padding-bottom: 0rem;
  }
}

footer .bottom-footer .navigation-footer a {
  padding: 0rem .3rem;
}

footer .bottom-footer .license {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: license;
}
/*# sourceMappingURL=main.css.map */