<footer>
  <div class="top-footer">
    <div class="blog-posts">
      <h1 class="add-shadow">Latest Posts</h1>
      <p class="white-text">Find out the latest news for opsdroid on the blog.</p>
    </div>

    <div class="follow">
      <h1 class="add-shadow align-left">Follow Us</h1>
      <p class="white-text align-left">Don't miss a thing</p>
      <div class="align-left social-icons">
        <a href="https://github.com/{{ site.github_username }}" class="social-icon" title="Opsdroid Github Repo">
          {% include_relative /images/icons/github-brands.svg %}
        </a>
        <a href="https://app.element.io/#/room/#opsdroid-general:matrix.org" class="social-icon" title="Opsdroid Matrix Channel">
          {% include_relative /images/icons/comment-alt-solid.svg %}
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}" class="social-icon" title="Opsdroid Twitter Account">
          {% include_relative /images/icons/twitter-brands.svg %}
        </a>
        <a href="https://medium.com/opsdroid" class="social-icon" title="Opsdroid Medium Blog">
          {% include_relative /images/icons/medium-m-brands.svg %}
        </a>
        <a href="https://www.youtube.com/channel/UC0FeGkDF7FrshmzAsb9lDvw" class="social-icon" title="Opsdroid YouTube Account">
          {% include_relative /images/icons/youtube-brands.svg %}
        </a>
      </div>
    </div>

  </div>
  <div class="bottom-footer">
    <div class="navigation-footer align-left">
      <a href="https://docs.opsdroid.dev/en/latest/?badge=latest">Getting Started</a>
      <a href="https://docs.opsdroid.dev/en/stable/">Documentation</a>
      <a href="https://medium.com/opsdroid">Blog</a>
      <a href="https://github.com/opsdroid/opsdroid-desktop">Desktop</a>
      <a href="https://app.element.io/#/room/#opsdroid-general:matrix.org">Community</a>
    </div>
    <div class="license">
      <p class="align-left">
        Code and examples licensed under <a href="https://github.com/opsdroid/opsdroid/blob/master/LICENSE">Apache
          2.0</a><br />
      </p>
    </div>
  </div>

</footer>
