body {
  background-color: $background-color;
  padding-bottom: 20px;

  #{$a-tags} {
    color: $brand-blue;;
    text-decoration: none;
  }
  #{$a-tags-hover} {
    color: darken($brand-blue, 5%);
  }
}

.navbar {
  min-height: $nav-height;
  margin: 0;

  .navbar-brand {
    height: $nav-height;
    padding: 5px;

    .logo {
      height: 100%;
    }
  }

  .navbar-nav {
    font-size: 1.4em;
    margin-top: 1.6em;
  }
}

.jumbotron {

  padding-top: 4em;
  padding-bottom: 4em;

  h1 {
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 1em;
    padding: 0;
  }

  p {
    margin: 0px;
  }

  code {
    color: white;
    font-size: 1.2em;

    background-color: darken($brand-blue, 5%);
    border: none;

    display: inline-block;
    padding: 10px;
    margin-top: 2em;

    ::before {
      color: $brand-green;
      content: '$ '
    }
  }

  color: white;
  background-color: $brand-blue;
}

footer {
  text-align: center;
}
