body {
  background-color: $background-color;
  padding-bottom: 20px;
  overflow-x: hidden;

  #{$a-tags} {
    color: $brand-blue;;
    text-decoration: none;
  }
  #{$a-tags-hover} {
    color: darken($brand-blue, 5%);
  }
}

.github-ribbon {
  background-color: $brand-green;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -50px;
  top: 40px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);

  a:link, a:visited, a:active {
    border: 1px solid lighten($brand-green, 20%);
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: lighten($brand-green, 50%);
  }
}

.navbar {
  min-height: $nav-height;
  margin: 0;

  .navbar-brand {
    height: $nav-height;
    padding: 5px;

    .logo {
      height: 100%;
    }
  }

  .navbar-nav {
    font-size: 1.4em;
    margin-top: 1.6em;
    margin-right: 50px;
  }
  .navbar-toggle {
    margin-top: 2em;
  }
}

.jumbotron {

  padding-top: 4em;
  padding-bottom: 4em;
  height: 100%;

  color: white;
  background-color: $brand-blue;
  background-image: url("https://github.com/opsdroid/style-guidelines/raw/master/banners/banner-eye-dark-trans-offset.png");
  background-size: cover;

  .container:first-child {
    h1, p {
      text-align: center;
    }
  }

  h1 {
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 1em;
    padding: 0;
  }

  p {
    margin: 0px;
  }

  code {
    color: white;
    font-size: 1.6em;

    background-color: darken($brand-blue, 5%);
    border: none;

    display: inline-block;
    padding: 20px;
    margin-top: 3em;

    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;

    ::before {
      color: $brand-green;
      content: '$ '
    }

    @media (max-width: $on-laptop) {
      display: block;
      font-size: 1.2em;
      margin: 3em 3em 0 3em;
    }
  }

  .chat-demo {
    background-color: white;
    color: black;
    height: 300px;
    padding: 0px;
    border: 2px #b5b5b5 solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow-y: hidden;

    @media (max-width: $on-laptop) {
      margin: 0 15px;
    }

    .window-ui {
      height: 24px;
      width: 100%;
      background-color: #b5b5b5;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;

      .button {
        float: left;
        height: 10px;
        width: 10px;
        margin-top: 6px;
        margin-left: 6px;
        border-radius: 8px;
      }

      .quit {
        background-color: #fa5f5c;
        border: 1px solid #ed4a47;
      }

      .minimize {
        background-color: #fcbb42;
        border: 1px solid #f0aa32;
      }

      .maximize {
        background-color: #36c94a;
        border: 1px solid #28bd39;
      }
    }

    .message {
      padding: 12px;
      border-bottom: 1px #EEE solid;

      img.profile {
        width: 30px;
        float: left;
        margin-right: 10px;
        border-radius: 3px;
      }

      h4 {
        margin: 0;
        margin-bottom: 5px;
        font-size: 16px;

        small {
          color: #777;
          font-size: 10px;
        }
      }

      p {
        font-size: 16px;
      }

    }

    .message:last-of-type {
      border: none;
    }

    .message::before{
      width: 50px;
      height: 50px;
      background-image: url('https://github.com/opsdroid/style-guidelines/raw/master/logos/logo-dark.png');
    }

    .typing {
      font-size: 12px;
      color: #777;
      margin: 10px;
    }
  }
}

.modules {

  a:link, a:visited, a:active {
    float: left;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: white;
    background-color: $brand-blue;
    font-size: 16px;
    white-space: nowrap;
  }

  a:hover {
    color: lighten($brand-blue, 60%);
  }

  :after {
    content: '';
    display: block;
    clear: both;
  }
}

footer {
  width: 100%;
  color: #AAA;
  text-align: center;

  .row {
    margin: 0px;

    div {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  a:link, a:visited, a:active {
    color: #888;
  }

  a:hover {
    color: $brand-blue;
  }

  .nav {
    text-align: left;
    @media (max-width: $on-laptop) {
      margin-top: 1em;
      text-align: center;
    }

    ul {
      @media (max-width: $on-laptop) {
        -webkit-padding-start: 0;
      }
      li {
        margin-top: 1em;
        margin-right: 30px;
        display: inline-block;
        text-decoration: none;
        list-style: none;
        @media (max-width: $on-laptop) {
          margin: 0;
          &:first-child {
            border-right: 1px solid lighten(grey, 10%);
            padding-right: .3em;
          }
        }
      }
    }
  }

  .copyright {
    text-align: right;
    @media (max-width: $on-laptop) {
      margin-top: 2em;
      text-align: center;
    }
  }

  .social {
    text-align: center;

    @media (max-width: $on-laptop) {
      text-align: center;
    }

    i {
      margin-right: 20px;
      font-size: 2em;
    }

    svg {
      margin-right: 20px;
      height: 3em;
      width: 3em;
      margin-top: -0.1em;
      padding-top: 1em;

      #outline {
        fill: #888;
      }
    }

    svg:hover {
      #outline {
        fill: $brand-blue;
      }
    }
  }

}
